body {
  margin: 0px 0px;
}
body {
  background-image: url('assets/freedom.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Varela Round';
  color: dimgray;
}
h1 {
  text-transform: uppercase;
  font-weight: 100;
  line-height: 160%;
  letter-spacing: 2px;
  margin: auto 40px;
  text-align: center;
}
p {
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
@media screen and (min-width: 0px) {
  h1 {
    font-size: 90%;
  }
}
@media screen and (min-width: 325px) {
  h1 {
    font-size: 110%;
  }
}
@media screen and (min-width: 460px) {
  h1 {
    font-size: 140%;
  }
}
@media screen and (min-width: 575px) {
  h1 {
    font-size: 160%;
  }
}
@media screen and (min-width: 0px) {
  p {
    font-size: 70%;
    margin-top: 20px;
  }
}
@media screen and (min-width: 325px) {
  p {
    font-size: 80%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 460px) {
  p {
    font-size: 90%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 575px) {
  p {
    font-size: 100%;
    margin-top: 40px;
  }
}
article {
  margin-top: calc(10vw);
}
.navbar {
  background-color: grey;
  opacity: 0.8;
  text-align: right;
  height: 50px;
}
#flag {
  width: 40px;
  height: 40px;
  margin: 5px 20px;
}